body {
  margin: 0px auto;
  width: 700px;
  background: white no-repeat center center fixed;
  -webkit-font-smoothing: antialiased;
  -webkit-background-size: cover;
  background-size: cover;
  background-image: url('/images/background.jpg');
}

h1, h2 {
  margin: 0 0 10px 0;
}

h1 {
  color: #ffffff;
  margin-top: 2em;
}

.sortable-containers {
  width: 100%;
  background: #ffffff;
  margin: 5px;
  padding: 10px;
}

.connectedSortable {
  border: 1px solid #eee;
  min-height: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.connectedSortable li {
  margin: 5px 5px 5px 5px;
  background: #f8f8f8;
  padding: 10px;
}

input {
  font-size: 1.2em;
}

button {
  float: right;
  font-size: 1.5em;
  background: none;
  border: none;
}

.delete_button, .done_button {
  font-size: 0.85em;
}

input[type=text] {
  border: none;
  background: none;
  width: auto;
}